.about {
  @apply text-lg max-w-xl;
}

.about .title {
  @apply text-5xl font-extrabold text-transparent bg-clip-text 
  bg-gradient-to-br from-purple-600 to-pink-600 tracking-wide;
}

.about .body {
  @apply text-gray-200 text-base py-8 font-semibold;
}

.about .sub-title {
  @apply text-gray-200 text-sm font-semibold ml-2;
}

.about .lang {
  @apply text-gray-200 font-bold text-base ml-5;
}

.about .react {
  @apply text-blue-500;
}

.about .graphql {
  @apply text-pink-600;
}