@import "./weather.css";
@import "./about.css";
@import "./imageBack.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0;
}

body {
  @apply bg-gradient-to-b from-white via-blue-200 to-blue-800
  font-body overflow-x-hidden;
}

/* width */
body::-webkit-scrollbar {
  @apply w-2 h-2;
}

/* Track */
body::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  @apply bg-gray-300 hover:bg-gray-200 rounded-full bg-opacity-30;
}

.content {
  @apply flex flex-col sm:flex-row;
}

.weather-sec {
  @apply w-full flex-grow min-h-screen;
}

.about-sec {
  @apply bg-gray-900 w-full p-8 min-h-screen
  flex flex-grow justify-center items-center text-white;
}
