.image-background{
  z-index: -30;
  @apply absolute top-0 left-0 w-full h-full;
}

.image-background img{
  z-index: -20;
  @apply absolute top-0 left-0 w-full h-full object-cover;
}

.image-background .overlay{
  z-index: -10;
  @apply absolute top-0 left-0 w-full h-full 
  bg-gradient-to-b from-black-20 to-black-80;
}