.weather {
  @apply py-5 relative h-full min-h-screen flex items-center justify-center;
}

main .container {
  @apply w-full h-full;
}

.searchbar {
  @apply w-full p-4 max-w-md mx-auto text-center
  appearance-none bg-none border-none outline-none text-white
  bg-gray-700 opacity-50 rounded-lg shadow-xl text-lg
  transition duration-300 ease-linear 
  focus:bg-white-50 focus:opacity-100 focus:text-gray-900;
}

.weather-instr {
  @apply mt-20 px-5 flex flex-col justify-center items-center;
}

.weather-instr img {
  @apply h-32 w-32 object-contain;
}

.weather-instr p {
  @apply text-center text-2xl text-gray-300 font-bold;
}

.result-container {
  @apply flex flex-col items-center;
}

.locationbox {
  @apply mt-10;
}

.locationbox .location {
  @apply text-white text-5xl text-center;
}

.location span {
  @apply text-gray-800 text-2xl mx-auto;
}

.locationbox .date {
  @apply text-gray-800 text-lg text-center;
}

.weatherbox {
  @apply flex flex-col items-center mt-8;
}

.weatherbox .temp {
  @apply relative inline-block py-3 px-2 text-white text-8xl
  font-num text-center;
}

.weatherbox .divider {
  @apply h-1 w-20 mb-3 border-b-2 border-white border-dashed;
}

.weatherbox .summary {
  @apply text-white text-center text-lg font-semibold;
}

.weatherbox .summary span {
  @apply text-gray-300 text-base font-normal;
}

.details {
  @apply flex max-w-xs justify-between mt-5;
}

.details div {
  @apply px-3 py-3 flex flex-col items-center text-gray-400;
}

.details svg {
  @apply h-6 w-6 mb-2 fill-current transition-all duration-700 ease-in-out;
}

.details h5 {
  @apply font-jose tracking-wider text-center text-xs uppercase
  font-light transition-all duration-700 ease-in-out;
}

.details h5 span {
  @apply transition-all duration-700 ease-in-out;
}

.details .clouds.flair {
  @apply text-blue-400;
}

.details .clouds.flair svg {
  @apply text-blue-700;
}

.details .clouds.flair h5 {
  @apply text-blue-300;
}

.details .clouds.flair h5 span {
  @apply text-blue-400;
}

.details .temp.flair {
  @apply text-red-400;
}

.details .temp.flair svg {
  @apply text-red-700;
}

.details .temp.flair h5 {
  @apply text-red-300;
}

.details .temp.flair h5 span {
  @apply text-red-400;
}

.details .wind.flair {
  @apply text-green-400;
}

.details .wind.flair svg {
  @apply text-green-700;
}

.details .wind.flair h5 {
  @apply text-green-300;
}

.details .wind.flair h5 span {
  @apply text-green-400;
}

