@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}

body {
  @apply bg-gradient-to-b from-white via-blue-200 to-blue-800
  font-body ;
}

main {
  @apply min-h-screen bg-gradient-to-b from-black-20 to-black-75
  p-8;
}

.app {
  @apply bg-cold bg-cover bg-bottom 
  transition duration-500 ease-out;
}

.app.warm {
  @apply bg-warm;
}

.content {
  @apply grid grid-cols-1 md:grid-cols-2;
}

.weather-sec {
  @apply w-full;
}

.about-sec {
  @apply bg-gray-900 h-screen w-full 
  p-8 flex justify-center items-center text-white;
}

.about-sec .about {
  @apply text-lg;
}

.about .title{
  @apply text-5xl font-extrabold text-transparent bg-clip-text 
  bg-gradient-to-br from-purple-600 to-pink-600 tracking-wide;
}

.about .body{
  @apply text-gray-200 text-base py-8 font-semibold;
}

.about .sub-title{
  @apply text-gray-200 text-sm font-semibold ml-2;
}

.about .lang{
  @apply text-gray-200 font-bold text-base ml-5;
}

.about .react{
  @apply text-blue-500;
}

.about .graphql{
  @apply text-pink-600;
}

.searchbox {
  @apply w-full;
}

.searchbox .searchbar {
  @apply block w-full p-4 
  appearance-none bg-none border-none outline-none text-white
  bg-gray-700 opacity-50 rounded-lg shadow-2xl text-lg
  transition duration-200 ease-linear focus:bg-white opacity-75 focus:text-gray-900;
}

.weather-instr {
  @apply mt-20 flex flex-col justify-center items-center;
}

.weather-instr img {
  @apply h-32 w-32 object-contain;
}

.weather-instr p {
  @apply text-center text-2xl text-gray-300 font-bold;
}

.locationbox .location {
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  @apply text-white text-2xl font-bold text-center mx-auto mt-16;
}

.locationbox .date {
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  @apply text-white text-xl font-semibold text-center italic;
}

.weatherbox {
  @apply text-center mt-10;
}

.weatherbox .temp {
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  @apply relative inline-block bg-white-20 mx-auto my-3 px-6 py-8
  rounded-xl text-white text-7xl font-bold text-center shadow-xl;
}

.weatherbox .summary {
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  @apply text-white text-2xl font-semibold;
}

.weatherbox .summary span {
  @apply text-lg font-normal;
}
